*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 97vh;
    background-color: rgba(74, 6, 82, 0.151);
  }
  
  .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 95vh;
    flex-wrap: wrap;
  }
  .card__items{
    background-color: rgb(2, 248, 195);
    padding: 70px;
   
    cursor: pointer;
    transition: .5s;
    color: white;
    font-size: 26px;
    font-weight: 700;
  }
  hr{
    border: 1px solid white;
  }